/* CSS RESET START */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET FINISHED */



/* Columns Start */
.col-whole {
    width: 100%;
}

.col-three-fourth {
    width: 75%;
}

.col-two-third {
    width: 66.66%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33%;
}

.col-fourth {
    width: 25%;
}

.col-fifth {
    width: 20%;
}

.col-sixth {
    width: 16.67%;
}

.col-seventh {
    width: 14.285%;
}

.col-eighth {
    width: 12.5%;
}

.col-ninth {
    width: 11.11%;
}

.col-tenth {
    width: 10%;
}

.col-eleventh {
    width: 9.0909%;
}

.col-twelfth {
    width: 8.3333%;
}
/* Columns End */

body {
	font-family: 'Titillium Web', sans-serif;
}

/* Header Start */
#nav {
	position: fixed;
	background: linear-gradient(to right, #39b54a, #8cc63f);
	height: 50px;
	width: 100%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .5), 0 -4px 6px rgba(0, 0, 0, .5);
}

/* Desktop Version */

#nav #inline-nav {
	display: block;
}

#nav #responsive-nav {
	display: none;
}

#inline-nav .name {
	font-size: 2em;
	margin-top: 4px;
	margin-left: 10px;
	transition: .3s;
}

#inline-nav .name a {
	text-decoration: none;
	color: white;
	display: inline;
	position: relative;
	overflow: hidden;
}

#inline-nav nav {
	float: right;
	padding-right: 15px;
	margin-top: -25px;
}

#inline-nav nav a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin-left: 30px;
	transition: .5s;
	display: inline;
	position: relative;
	overflow: hidden;
}

#inline-nav a:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	right: 100%;
	bottom: -1px;
	background: white;
	height: 4px;
	transition-property: left right;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

#inline-nav a:hover:after, #inline-nav a:focus:after, #inline-nav a:active:after {
	right: 0;
}

/* Mobile Version */

#bars {
	display: none;
	color: white;
	float: right;
	padding-right: 10px;
	margin-top: -39px;
}

#responsive-nav .name {
	padding-left: 10px;
	padding-top: 5px;
}

#responsive-nav .name a {
	text-decoration: none;
	color: white;
}

#header-image {
	width: 100%;
	height: 300px;
	position: fixed;
	z-index: -5;
}

/* Header End */

/* Header End */

/* Body Start */

#contact {
	width: 100%;
	background-color: white;;
	height: auto;
	margin-top: 300px;
	z-index: -3;
}

#profile {
	margin-left: 45%;
	margin-top: -5%;
	width: 10%;
	height: auto;
}

button {
	margin-top: 50px;
	border:none;
} 

input {
	border: none;
	border-bottom: 1px solid black;
	font-size: 1em;
	font-family: 'Titillium Web', sans-serif;
	width: 80%;
}

#contactSubmit {
	background-color: #39b54a;
	width: 5%;
	text-align: center;
	height: 2em;
	margin-left: 47.5%;
	color: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .5), 0 0px 0px rgba(0, 0, 0, .5);
	transition: .3s;
}

#contactSubmit:hover {
	cursor: pointer;
	box-shadow: none;
	transition: .5s;
	background-color: #35833f;
}

#contactSubmit p {
	font-size: 1.1em;
	transform: translateY(40%);
}

#form {
	margin-top: 25px;
	width: 80%;
	margin-left: 10%;
	display: flex;
}

form {
	font-size: 1.3em;
}

.card {
	padding-top: 15px;
	width: 80%;
	height: 350px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .5), 0 0px 0px rgba(0, 0, 0, .5);
	border: 1px solid black;
	margin-left: 10%;
}

h3 {
	font-weight: bold;
	padding-left: 20px;
	font-size: 1.3em;
}

fieldset div {
	padding-top: 20px;
	margin-left: 15%;
}

#message {
	margin-left: 10%;
}

#message label {
	vertical-align: top;
}

textarea {
	font-size: .8em;
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.2em;
	width: 70%;
	margin-left: 15%;
	height: 250px;
}

#message div div {
	padding-top: 20px;
}

/* Body End */

/* Footer Start */

/*Philip Walton Help (https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)*/
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

footer {
	margin-top: 20px;
	height: 50px;
	width: 100%;
	background: linear-gradient(to right, #39b54a, #8cc63f);
}

footer p {
	text-align: center;
	color: white;
	font-size: 1.5em;
	margin-top: 12px;
}

/* Footer End */

/* Responsive Section */

@media (max-width: 1000px)
{
	#profile {
		width: 15%;
		margin-top: -7.5%;
		margin-left: 42.5%;
	}
}

@media (max-width: 768px)
{
	/* Nav Start */

	#nav #inline-nav {
		display: none;
	}
	
	#nav #responsive-nav {
		display: block;
	}

	#bars {
		display: block;
	}

	#nav p {
		font-size: 2.5em;
	}

	.sideNav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: #39b54a;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	.sideNav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: white;
		display: block;
		transition: 0.3s;
	}
	
	.sideNav a:hover {
		color: #f1f1f1;
	}
	
	.sideNav .closebtn {
		position: absolute;
		padding-left: 0px;
		top: 0px;
		left: 0px;
		font-size: 36px;
		margin-left: 32px;
	}
	/* Nav End */

	/* Body Start */

	#profile {
		width: 20%;
		margin-top: -10%;
		margin-left: 40%;
	}

	/* Body End */


} 

@media (max-width: 560px)
{
	#profile {
		width: 25%;
		margin-left: 37.5%;
		margin-top: -12.5%;
	}
}

@media (max-width: 380px)
{
	#profile {
		width: 40%;
		margin-left: 30%;
		margin-top: -20%;
	}
}

/* Responsive Section End */