/* CSS RESET START */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET FINISHED */



/* Columns Start */
.col-whole {
    width: 100%;
}

.col-three-fourth {
    width: 75%;
}

.col-two-third {
    width: 66.66%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33%;
}

.col-fourth {
    width: 25%;
}

.col-fifth {
    width: 20%;
}

.col-sixth {
    width: 16.67%;
}

.col-seventh {
    width: 14.285%;
}

.col-eighth {
    width: 12.5%;
}

.col-ninth {
    width: 11.11%;
}

.col-tenth {
    width: 10%;
}

.col-eleventh {
    width: 9.0909%;
}

.col-twelfth {
    width: 8.3333%;
}
/* Columns End */

body {
	font-family: 'Consolas', sans-serif;
	background-color: #1e1e1e;
	height: 100%;
}

/* Page Format Start */

#mdw_nav {
	box-sizing: border-box;
	position: fixed;
	z-index: 2;
	width: 100%;
	padding-left: 50px;
	background-color: #252526;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .5), 0 -2px 3px rgba(0, 0, 0, .5);
	user-select: none;
}
@media all and (max-width: 999px) {
	#mdw_nav {
		height: 40px;
	}
}

#mdw_nav i {
	display: none;
}
@media all and (max-width: 999px) {
	#mdw_nav i {
		display: initial;
	}
}

#mdw_nav i.mds_navIcon {
	position: absolute;
	color: #888f96;
	right: 10px;
	top: 4px;
}

#mdw_nav .mds_innerWrap {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
@media all and (max-width: 999px) {
	#mdw_nav .mds_innerWrap {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100vh;
		transform: translateX(100%);
		background: #252526;
	}
}

#mdw_nav.mds_navOpen .mds_innerWrap {
	transform: translateX(0%);
}

#mdw_nav i.mds_close {
	padding-left: 8px;
	color: #888f96;
	font-size: 2.5em;
	text-align: left;
}

@media all and (max-width: 999px) {
	#mdw_nav i.mds_close {
		display: block;
	}
}

#mdw_nav ul {
	list-style: none;
}

#mdw_nav li {
	display: inline-block;
}
@media all and (max-width: 999px) {
	#mdw_nav li {
		display: block;
	}
	#mdw_nav li a {
		width: 100%;
	}
}

#mdw_nav li a {
	display: inline-block;
	padding: 12px 14px 9px 10px;
	text-decoration: none;
}
	#mdw_nav li a.mdm_current {
		background: #1e1e1e;
	}

	#mdw_nav li a.mdm_current p {
		color: white;
	}
	
#mdw_nav li a img {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

#mdw_nav li a p {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -1px;
	color: #888f96;
}

#social-media {
	background-color: #333333;
	width: 50px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#social-media a:first-of-type i
{
	padding-top: 10px;
}

.medias {
	color: #adadad;
	transform: translateX(30%);
	margin-bottom: 20px;
}

.medias:hover {
	color: #ffffff;
}

#line-number {
	color: #5a5a5a;
	width: 40px;
	text-align: right;
	height: calc(100% - 45px);
	position: absolute;
	top: 45px;
	left: 50px;
	user-select: none;
}

footer {
	background-color: #007acc;
	height: auto;
	color: white;
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: 3; 
}

footer p {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: .9em;
	width: 100%;
}

/* Page Format End */

/* Body Start */

#content {
	margin-top: 3px;
	height: auto;
	position: absolute;
	color: white;
	top: 42px;
	left: 120px;
	z-index: -1;
	width: 60%;
	margin-bottom: 50px;
}

@media all and (max-width: 425px) {
	#content {
		width: calc(90% - 100px);
		left: 100px;
	}
}

.mds_title {
	padding-left: .5em;
	font-size: 3em;
	color: white;
}
@media all and (max-width: 425px) {
	.mds_title {
		font-size: 2em;
	}
}

.mds_skills {
	padding-left: 1em;
	font-size: 2em;
	color: white;
}

.mds_skill {
	padding-left: 1.5em;
	font-size: 1em;
	color: white;
}
.mds_resume {
	display: inline-block;
	margin-left: 2em;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px 7px;
	background-color: #333333;
	color: #adadad;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .5), 0 0px 0px rgba(0, 0, 0, .5);
	cursor: pointer;
	user-select: none;
	transition: .5s;
}

.mds_resume:hover {
	color: white;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .5), 0 0px 0px rgba(0, 0, 0, .5);
	transition: .5s;
}

.mds_tag {
	color: #2c7cd6;
}

.mds_gray-tag {
	color: #5a5a5a;
}

.mds_blue-tag {
	color: #81cdf5
}

.mds_orange-tag {
	color: #ce9178;
}

/* Body End */